html {
    scroll-behavior: smooth;
}

section {
    height: 100vh;
}

img {
    font-style: italic;
    shape-margin: 1rem;
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 10rem 0 10rem;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.navbar .logo {
    font-size: 1rem;
    font-weight: bold;
    color: #a22d2d;
    text-decoration: none;
}

.navbar .nav-links {
    display: flex;
    gap: 1.5rem;
}

.navbar .nav-links a {
    text-decoration: none;
    color: #4d4d4d;
    font-size: 1rem;
    transition: color 0.3s;
    transition: color 0.3s ease-in-out;
}

.navbar .nav-links a:hover, .navbar .nav-links a.bold:hover {
    color: #007bff;
}

.navbar .nav-links a.bold {
    color: #000000;
}

.about-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.about-image {
    flex: 1;
}

.about-text {
    flex: 1;
    font-size: 1rem;
    text-align: justify;
    padding: 0 10rem 0 0;
}